<section>
        <div class="container mt-5">
          <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
              <div class="card" style="width: 15rem; height:24rem ;">
  <img class="card-img-top" src="/cars-pics/{{this._id}}.jpg" alt="Card image cap" 
  style="height:12rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
    <p class="card-text">{{this.company}}</p>
    <p class="card-text">{{this.color}}</p>
    <h4 class="card-text">{{this.price}}</h4>
    <a href="#" class="btn btn-primary">Love youer car</a>
  </div>
</div>
            </div>
            {{/each}}
          </div>
        </div>
</section>